*{
    margin: 0px;
    padding: 0px;
}
.container-fluid{
    width: 50%;
    text-align: center !important;
    font-family: 'Akaya Telivigala', cursive;
}

.navbar-brand{
    text-align: center;
    font-size:20px;
    position: relative;
    left:43%;
}

.main-body{
    position: relative;
    background-image: url(./images/back1.jpeg);
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.heading{
    position: relative;
    top: 100px;
}
.heading img{
    width:150px;
    height:150px;
    border-radius: 100%;
    border: 4px solid ;
    border-color: aliceblue;
}

.heading h1{
    padding-top: 20px;
}
.prof{
    text-align: center;
}
.prof ul{
    margin: 0px;
    padding: 0px;
}

.prof ul li{
    display: inline-block;
    padding: 10px;
}

.social {
    padding-top:10px;
}
.social i{
    padding: 20px;
}

.parallax{
    background: url('https://images.pexels.com/photos/1363876/pexels-photo-1363876.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')no-repeat center center fixed ;
    -webkit-background-size: cover;

}

.parallax-inner{
    text-align: center;
    padding-top: 80px;
    color: white;
    font-family:'Open Sans', sans-serif ;
    padding-bottom: 30%;
}

.third{
    background: url('https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}

.info-blocks{
    
}
.block-a{
    display: inline-block;
    width: 300px;
    padding-top: 200px;
    padding-bottom: 50px;  
    background: #FEE715FF;
    text-align: center;
    margin: 30px;
    color: #101820ff;     
}
.block-a img{
    width: 30px;
}

.block-b img{
    width:30px;
    color: white;
}

.block-a p{
    font-size: 25px;
}
.block-b p{
    font-size:25px;
}
.block-b{
    display: inline-block;
    width: 300px;
    padding-top: 200px;
    padding-bottom: 50px;  
    background: #101820FF;
    text-align: center;
    margin: 30px;     
}

.small-title
{
    padding-left: 50px;
    padding-top: 50px;
}
.small-title svg{
    display: inline-block;
}
.small-title span{
    display: inline-block;
    font-size: 30;
}

.small-sk{
    margin-top:50px;
}

.small-sk span{
    padding: 20px;
    font-size: 25px;
}
